.container {
    margin: auto;
    height: 600px;
}

#wrapper {
    background-image: url("/../../assets/images/backgrounImage50opacity.png");
    background-color: rgba(136, 174, 221, .25);
    /* background-color: rgba(0, 0 , 0, .50); */
    background-size: contain;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}