#loginScreen {
    height: 90%;
    min-height: -webkit-fill-available;
}

#snowFlake {
    padding-left: 4rem;
}

#loginButtons {
    margin: auto;
    
}

.btn-login {
    background-color: #ffffff;
    color: #AC2522;
    text-align: left;
    border: 2px solid #AC2522;
    font-size: 2rem;
}

#snowFlakeImg {
    display: inline-block;
    width: 50px;
    margin: auto;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
    
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }